/*Trabajo_GrupalWeb/assets/css/global.css*/

@import url('variables.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.container-custom{
    width: 90%;
    margin: auto;
}

.section-title{
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: bold;
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

@media(max-width:1200px){

    .grid-5{
        grid-template-columns: repeat(3,1fr);
    }

    .grid-4{
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width:768px){

    .grid-5,
    .grid-4{
        grid-template-columns: 1fr;
    }

}